
@{
    ViewBag.Title = "MyRecipes";
}

@using MenuOnWebFinal.Models;

@{
    <div class="row">
        @foreach (ViewRecipe recipe in @ViewBag.Recipes)
        {
            <h2>@recipe.Name</h2>
            <img src="~/Content/images/thumbnails/@recipe.ImageUrl" alt="@recipe.Name">
            <p>@recipe.Likes</p>
            <p>@recipe.Text</p>
            <div>@Html.ActionLink("Читати ще", "Details", "Recipe", new { id = recipe.Id }, null)</div>
        }
    </div>
    <div>@Html.ActionLink("Створити рецепт", "Create", "Recipe")</div>
}
